.sticker{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagenes{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 1%;;
}
.imagen{
    display: flex;
    flex-direction: column;
    margin: 1%;
}